:root {
    --color-disable: rgb(255, 152, 56);
    --color-enable: rgb(96, 255, 56);
    --color-remove: rgb(255, 56, 56);
    --color-select: rgb(182, 56, 255);
}

button {
    border: none;
}

body {
    background-color: gainsboro
}

.container {
    background-color: white;
}

.pull-right img-thumbnail {
    margin-top: -10px;
    margin-bottom: 10px
}

.header-row {
    margin-top: 20px
}

.banner-img {
    margin-bottom: 20px
}

.navbar {
    margin-bottom: 0;
}

.product-img {
    width: 70%;
}

.reviewCardHigh {
    margin: 5px 0 5px 0;
    border-left-width: .4em;
    border-color: rgb(63, 255, 73);
}

.reviewCardLow {
    margin: 5px 0 5px 0;
    border-left-width: .4em;
    border-color: rgb(255, 92, 63);
}

.block-btn {
    border-radius: 0;
    border: none;
    
}

.adminItemCard {
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: white;
    border-color: black;
    border-width: 2px;
    padding: 1em;
    margin-top: .25em;
}

.adminItemCard .abutton {
    width: fit-content;
    height: fit-content;
    text-decoration: none;
    padding: 3px 20px;
    background-color: rgb(62, 168, 255);
    margin: auto 0 0 auto;
    font-weight: bold;
    color: white;
    transition: all .25s;
}

.abutton:hover {
    background-color: black;
    transform: scale(1.05);
}

/* Hover colors */

.abutton.disable:hover {
    background-color: var(--color-disable);
}

.abutton.enable:hover {
    background-color: var(--color-enable);
}

.abutton.remove:hover {
    background-color: var(--color-remove);
}

.abutton.select:hover {
    background-color: var(--color-select);
}

.buttonContainer-right-end {
    margin: auto 0 0 auto;
}

.jumbotron {
    padding: .2em 1em;
    margin: .5em;
    background-color: rgb(53, 53, 53);
    color: white;
    border-radius: .2em;
}

.adminItemCard img {
    width: clamp(60px, 8%, 8%);
    margin-right: 1em;
}