body {
    background-color: gainsboro
}

.container {
    background-color: white;
}

.pull-right img-thumbnail {
    margin-top: -10px;
    margin-bottom: 10px
}

.header-row {
    margin-top: 20px
}

.banner-img {
    margin-bottom: 20px
}

.navbar {
    margin-bottom: 0;
}

.product-img {
    width: 70%;
}

.reviewCardHigh {
    margin: 5px 0 5px 0;
    border-left-width: .4em;
    border-color: rgb(63, 255, 73);
}

.reviewCardLow {
    margin: 5px 0 5px 0;
    border-left-width: .4em;
    border-color: rgb(255, 92, 63);
}