RewriteEngine on

RewriteRule ^categories/([0-9]+)/?$ /public/index.php?id=$1    [NC,L]    # Handle category requests
RewriteRule ^category/([0-9]+)/?$ /public/index.php?id=$1    [NC,L]    # Handle category requests
RewriteRule ^product/([0-9]+)/?$ /public/index.php?id=$1    [NC,L]    # Handle category requests
RewriteRule ^products/([0-9]+)/?$ /public/index.php?id=$1    [NC,L]    # Handle category requests
RewriteRule ^review/([0-9]+)/?$ /public/index.php?id=$1     [NC,L]    # Handle category requests
RewriteRule ^placereview/([0-9]+)/?$ /public/index.php?id=$1     [NC,L]    # Handle category requests
RewriteRule ^login/([0-9]+)/?$ /public/index.php    [NC,L]    # Handle category requests
RewriteRule ^register/([0-9]+)/?$ /public/index.php    [NC,L]    # Handle category requests
RewriteRule ^admin/([0-9]+)/?$ /public/index.php?id=$1    [NC,L]    # Handle category requests


# Rewrite all the default paths to public e.g. /css/style.css -> /public/css/style.css
RewriteCond %{REQUEST_URI} !/public
RewriteRule ^(.*)$ public/$1 [L]

# Rewrite all the files to index.php /random -> /public/index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ /public/index.php [NC,L,QSA]

